# .gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
carrotdb
carrotdb-server
carrotdb-router

# Python
__pycache__/
*.py[cod]
*$py.class
sdk/python/carrotdb.egg-info/
dist/
build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# CarrotDB data files
*.log
*.data
data/
